doctype html
html(lang="en")

  head
    block head
      meta(charset="utf-8")
      meta(name="viewport" content="width=device-width, initial-scale=1.0")
      link(href="/style.css" type="text/css" rel="stylesheet")

    block title
      title Tubecaster

  body
    header
      h1.full: a(href="/") Tubecaster
      h2.full Turn YouTube playlists into video podcasts
    main: block body
    footer.flex.one.two-500
      span Made by #[a(href="https://carlosprecioso.com") Carlos Precioso]
      span: a(href="https://github.com/cprecioso/tubecaster") Source
