extends _layout

block body
  .card.full
    header
      h3 Error

    main
      pre= error

    footer
      p
        | Want to
        |
        a(href="javascript:history.back()") go back
        | ?
