extends _layout

block body
  form.card.full.flex.one.two-500(method="GET" action=formAction)
    div.full.two-third-500.three-fourth-700
      input.full(type="text" name="playlist" placeholder="Paste the playlist ID or URL")
    div.full.third-500.fourth-700
      button.full(type="submit") Get podcast
