extends _layout

block body
  form.card.full.flex.one.two-500(method="POST" action=formAction)
    div.full.two-third-500.three-fourth-700
      input.full(type="text" name="yturl" placeholder="Paste the URL of a YouTube channel or list")
    div.full.third-500.fourth-700
      button.full(type="submit") Get podcast

  .full.card(style="font-size: 0.8em;")
    p.
      Just paste the link to a YouTube channel or playlist in the box above. Tubecaster will convert it to a video podcast you can listen to with your favorite podcast app.

    p.
      No ads. No comments. If your podcast app supports it, you can download the videos for later or watch them while on the background. Remember to support your favourite channels though!
