extends layout

block body
  h1 Tubecaster
  h2 Turn YouTube playlists into video podcasts

  form.center-square(method="GET" action=formAction)
    input(type="text" name="playlist" placeholder="Paste the Playlist ID or URL")
    button.action(type="submit") Get podcast
