extends layout

block body
  .card.flex.one.center
    pre.full
      a(href=podcastUrl onclick="return false")
        = podcastUrl

    p.full.
      Copy the link and paste it into your podcast app. You can press and hold (or right-click) the link in order to copy it more easily.
