extends layout

block body
  .card.flex.one.center
    header.full
      img(src=playlist.thumbnail).full
      h3
        a(href=playlist.link)= playlist.name
      h4
        | from
        |
        a(href=playlist.channel.link)= playlist.channel.name

    main.full
      pre.full
        a(href=podcast.url onclick="return false")
          = podcast.url

      p.full.
        Copy the link and paste it into your podcast app. You can press and hold (or right-click) the link in order to copy it more easily.
