bg-color = #282828
fg-color = #ffffff
accent-color = #f00

body
  background-color bg-color

h1
h2
span
input
  color fg-color

h1 a
    color fg-color
    text-decoration none

a
  color accent-color
  text-decoration underline

  &.button
  pre &
    text-decoration none

.card
  color bg-color
  border-color fg-color

  h4
    color lighten(bg-color, 30%)

  h3, h4
    a
      color inherit
      text-decoration none

  img
    box-shadow 0 0 3px bg-color

  button
  .button
    border-color fg-color
    background-color accent-color

  input
    color bg-color
    border 0
    background-color transparent

  label span
    color inherit
