bg-color = #282828
fg-color = #ffffff
accent-color = #f00

body
  background-color bg-color

h1
h2
span
input
  color fg-color

h1 a
  color fg-color
  text-decoration none

a
  color accent-color
  text-decoration underline

  &.button
  pre &
    text-decoration none

.card
  border-color fg-color

  button
  .button
    border-color fg-color
    background-color accent-color

  input
    color bg-color
    border 0
    background-color transparent
