@charset "utf-8"

@import "picnic/picnic.css"

body
  width 90vw
  max-width 700px
  height auto
  margin 30px auto 0

h1, h2, h3, h4
  margin 0
  padding 0

h3
  margin-right .5em !important

h4
  font-style italic

.card
  margin-top 20px
  padding 10px

  img
    border-radius .2em

  > div
    padding-bottom 0

    &:last-child
      padding-right 0

  &.flex
    position relative
    left .6em

pre
  margin-bottom 0

@media (max-width: 500px)
  .card.flex.one > *
    padding-left 0
    padding-right 0

@media (min-width: 500px)
  button
    margin-top 0 !important

  .card.flex.two-500 > :first-child
    padding-left 0

  footer span:last-child
    text-align right

@import "./_theme"

/*
  a
    color inherit

  .action::after
    content "→"

  body
    margin 0 1em
    min-height 100vh

    background-color bg-color
    background-image linear-gradient(to bottom, bg-color, black)
    background-repeat no-repeat
    background-size cover
    background-position bottom

    font-family sans-serif
    color fg-color

    display flex
    flex-flow column nowrap
    justify-content flex-start
    align-items flex-start

    font-size 2em

  .center-square
    margin-top 1em
    width 100%
    max-width 600px

    display flex
    flex-flow column nowrap
    justify-content center
    align-items flex-start

    .small
      font-size .5em

      input
        text-overflow ellipsis

  input, button
    background-color transparent
    border 0
    color inherit
    border-bottom 3px solid fg-color
    font-size .8em

  input
    width 100%

    &::placeholder
      color inherit

    &:focus
      outline none

  button
    width fit-content

    &.link
      border 0
      text-decoration underline
      text-align right
      font-size .5em

    &:hover
      cursor pointer

  h1
    margin 0
    margin-top 1em
    font-size 2em

  h2
    margin 0
    font-size .5em
    font-weight lighter

  .footer
    margin-top 3em
    font-size .5em
*/
